page-folder-list {
  .folder-badge {
    margin-right: 2px;
    float: right;
  }

  .new-folder-btn,
  .modify-btn,
  .complete-btn,
  .del-folder-btn{
    float: right;
    margin-right: 10px;
  }

}
