<!--
  Generated template for the FolderListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ selectedFolder.length > 0 ? selectedFolder.length + '개 선택됨' : '폴더' }}</ion-title>
    <ion-buttons end>
      <a class="modify-btn" *ngIf="viewMode == 'list'" (click)="modify()">편집</a>
      <a class="complete-btn" *ngIf="viewMode == 'modify'" (click)="complete()">취소</a>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let folder of folders" (ionDrag)="itemSwipe(slidingItem)">
      <button (click)="moveMemoPage(folder)" ion-item detail-push>
        <ion-label>{{ folder.FD_NAME }}<i class="folder-badge">{{ folder.CNT }}</i></ion-label>
        <ion-checkbox *ngIf="folder.DEFAULT_YN != 'Y' && showCheckbox" [(ngModel)]="folder.selected" (ionChange)="changeCheck()"></ion-checkbox>
      </button>

      <ion-item-options side="right" *ngIf="folder.DEFAULT_YN != 'Y' && viewMode != 'modify'">
        <button ion-button color="danger" (click)="deleteFolder(folder)">삭제</button>
      </ion-item-options>

      <ion-item-options side="left" *ngIf="folder.DEFAULT_YN != 'Y' && viewMode != 'modify'">
        <button ion-button (click)="presentPromptModifyFolder(folder)">이름변경</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <a class="new-folder-btn" *ngIf="viewMode != 'modify'" (click)="presentPromptNewFolder()">새로운 폴더</a>
    <a class="del-folder-btn" [ngClass]="{'disable': selectedFolder.length == 0}"
       *ngIf="viewMode == 'modify'" (click)="deleteFolder()">삭제</a>
  </ion-toolbar>
</ion-footer>
