page-folder-select {
  .cancel-btn{
    margin-right: 10px;
  }

  .folder-select-info {
    margin: 0px 0px 3px 0px !important;
  }

  .folder-badge {
    margin-right: 2px;
    float: right;
  }


}
