page-memo-list {
  .modify-btn,
  .complete-btn{
    float: right;
    margin-right: 10px;
  }

  .new-memo-btn,
  .del-memo-btn{
    position: absolute;
    right:10px;
  }

  .move-memo-btn{
    position: absolute;
    left: 10px;
    margin-left: 10px;
  }


  ion-footer {
    text-align: center;
  }

  .memo-info {
    color: #999999;
    font-size:12px;
  }

  .memo-title {
    color: black;
    font-size: 14px;
  }

  .summary {
    margin-left: 5px;
    color: #b4b4b4;
  }

  .trash-help {
    padding: 15px;
    font-size: 12px;
    background-color: #eee;
  }

  span.search-result {
    color: orange;
  }

}
