<!--
  Generated template for the MemoListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ selectedMemo.length > 0 ? selectedMemo.length + '개 선택됨' : selectedFolder.FD_NAME }}</ion-title>
    <ion-buttons end>
      <a [ngClass]="{'disable': memos.length == 0}" class="modify-btn" *ngIf="viewMode == 'list'" (click)="modify()">편집</a>
      <a class="cancel-btn" *ngIf="viewMode == 'modify'" (click)="complete()">취소</a>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let memo of memos" (ionDrag)="itemSwipe(slidingItem)">
      <ion-item (click)="moveWriteMemo(memo)">
        <ion-label>{{ memo.TITLE }}</ion-label>
        <ion-checkbox *ngIf="showCheckbox" [(ngModel)]="memo.selected" (ionChange)="changeCheck()"></ion-checkbox>
      </ion-item>

      <ion-item-options side="right" *ngIf="viewMode != 'modify'">
        <button ion-button color="danger" (click)="deleteMemo(memo)">삭제</button>
      </ion-item-options>

      <ion-item-options side="left" *ngIf="viewMode != 'modify'">
        <button ion-button (click)="unread(item)">이름변경</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <a class="new-memo-btn" *ngIf="viewMode != 'modify'" (click)="moveWriteMemo()"><ion-icon name="open"></ion-icon></a>

    <a class="del-memo-btn" *ngIf="selectedMemo.length == 0 && viewMode == 'modify'" (click)="deleteMemo('all')">모두 삭제</a>
    <a class="move-memo-btn" *ngIf="selectedMemo.length == 0 && viewMode == 'modify'" (click)="moveMemo('all')">모두 이동</a>

    <a class="del-memo-btn" *ngIf="selectedMemo.length > 0 && viewMode == 'modify'" (click)="deleteMemo()">삭제</a>
    <a class="move-memo-btn" *ngIf="selectedMemo.length > 0 && viewMode == 'modify'" (click)="moveMemo()">다음으로 이동</a>

    <span *ngIf="viewMode != 'modify'">
      {{memos.length == 0 ? '메모 없음' : (memos.length + '개의 메모')}}
    </span>
    <span *ngIf="viewMode == 'modify'">
      &nbsp;
    </span>
    <!--<a class="del-folder-btn" [ngClass]="{'disable': selectedFolder.length == 0}"
       *ngIf="viewMode == 'modify'" (click)="deleteFolder()">삭제</a>-->
  </ion-toolbar>
</ion-footer>
